* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body div {
  height: 100vh;
}
body .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .cont-1 {
  width: 1%;
  margin: 0 auto;
}
body .cont-2 {
  width: 2%;
  margin: 0 auto;
}
body .cont-3 {
  width: 3%;
  margin: 0 auto;
}
body .cont-4 {
  width: 4%;
  margin: 0 auto;
}
body .cont-5 {
  width: 5%;
  margin: 0 auto;
}
body .cont-6 {
  width: 6%;
  margin: 0 auto;
}
body .cont-7 {
  width: 7%;
  margin: 0 auto;
}
body .cont-8 {
  width: 8%;
  margin: 0 auto;
}
body .cont-9 {
  width: 9%;
  margin: 0 auto;
}
body .cont-10 {
  width: 10%;
  margin: 0 auto;
}
body .cont-11 {
  width: 11%;
  margin: 0 auto;
}
body .cont-12 {
  width: 12%;
  margin: 0 auto;
}
body .cont-13 {
  width: 13%;
  margin: 0 auto;
}
body .cont-14 {
  width: 14%;
  margin: 0 auto;
}
body .cont-15 {
  width: 15%;
  margin: 0 auto;
}
body .cont-16 {
  width: 16%;
  margin: 0 auto;
}
body .cont-17 {
  width: 17%;
  margin: 0 auto;
}
body .cont-18 {
  width: 18%;
  margin: 0 auto;
}
body .cont-19 {
  width: 19%;
  margin: 0 auto;
}
body .cont-20 {
  width: 20%;
  margin: 0 auto;
}
body .cont-21 {
  width: 21%;
  margin: 0 auto;
}
body .cont-22 {
  width: 22%;
  margin: 0 auto;
}
body .cont-23 {
  width: 23%;
  margin: 0 auto;
}
body .cont-24 {
  width: 24%;
  margin: 0 auto;
}
body .cont-25 {
  width: 25%;
  margin: 0 auto;
}
body .cont-26 {
  width: 26%;
  margin: 0 auto;
}
body .cont-27 {
  width: 27%;
  margin: 0 auto;
}
body .cont-28 {
  width: 28%;
  margin: 0 auto;
}
body .cont-29 {
  width: 29%;
  margin: 0 auto;
}
body .cont-30 {
  width: 30%;
  margin: 0 auto;
}
body .cont-31 {
  width: 31%;
  margin: 0 auto;
}
body .cont-32 {
  width: 32%;
  margin: 0 auto;
}
body .cont-33 {
  width: 33%;
  margin: 0 auto;
}
body .cont-34 {
  width: 34%;
  margin: 0 auto;
}
body .cont-35 {
  width: 35%;
  margin: 0 auto;
}
body .cont-36 {
  width: 36%;
  margin: 0 auto;
}
body .cont-37 {
  width: 37%;
  margin: 0 auto;
}
body .cont-38 {
  width: 38%;
  margin: 0 auto;
}
body .cont-39 {
  width: 39%;
  margin: 0 auto;
}
body .cont-40 {
  width: 40%;
  margin: 0 auto;
}
body .cont-41 {
  width: 41%;
  margin: 0 auto;
}
body .cont-42 {
  width: 42%;
  margin: 0 auto;
}
body .cont-43 {
  width: 43%;
  margin: 0 auto;
}
body .cont-44 {
  width: 44%;
  margin: 0 auto;
}
body .cont-45 {
  width: 45%;
  margin: 0 auto;
}
body .cont-46 {
  width: 46%;
  margin: 0 auto;
}
body .cont-47 {
  width: 47%;
  margin: 0 auto;
}
body .cont-48 {
  width: 48%;
  margin: 0 auto;
}
body .cont-49 {
  width: 49%;
  margin: 0 auto;
}
body .cont-50 {
  width: 50%;
  margin: 0 auto;
}
body .cont-51 {
  width: 51%;
  margin: 0 auto;
}
body .cont-52 {
  width: 52%;
  margin: 0 auto;
}
body .cont-53 {
  width: 53%;
  margin: 0 auto;
}
body .cont-54 {
  width: 54%;
  margin: 0 auto;
}
body .cont-55 {
  width: 55%;
  margin: 0 auto;
}
body .cont-56 {
  width: 56%;
  margin: 0 auto;
}
body .cont-57 {
  width: 57%;
  margin: 0 auto;
}
body .cont-58 {
  width: 58%;
  margin: 0 auto;
}
body .cont-59 {
  width: 59%;
  margin: 0 auto;
}
body .cont-60 {
  width: 60%;
  margin: 0 auto;
}
body .cont-61 {
  width: 61%;
  margin: 0 auto;
}
body .cont-62 {
  width: 62%;
  margin: 0 auto;
}
body .cont-63 {
  width: 63%;
  margin: 0 auto;
}
body .cont-64 {
  width: 64%;
  margin: 0 auto;
}
body .cont-65 {
  width: 65%;
  margin: 0 auto;
}
body .cont-66 {
  width: 66%;
  margin: 0 auto;
}
body .cont-67 {
  width: 67%;
  margin: 0 auto;
}
body .cont-68 {
  width: 68%;
  margin: 0 auto;
}
body .cont-69 {
  width: 69%;
  margin: 0 auto;
}
body .cont-70 {
  width: 70%;
  margin: 0 auto;
}
body .cont-71 {
  width: 71%;
  margin: 0 auto;
}
body .cont-72 {
  width: 72%;
  margin: 0 auto;
}
body .cont-73 {
  width: 73%;
  margin: 0 auto;
}
body .cont-74 {
  width: 74%;
  margin: 0 auto;
}
body .cont-75 {
  width: 75%;
  margin: 0 auto;
}
body .cont-76 {
  width: 76%;
  margin: 0 auto;
}
body .cont-77 {
  width: 77%;
  margin: 0 auto;
}
body .cont-78 {
  width: 78%;
  margin: 0 auto;
}
body .cont-79 {
  width: 79%;
  margin: 0 auto;
}
body .cont-80 {
  width: 80%;
  margin: 0 auto;
}
body .cont-81 {
  width: 81%;
  margin: 0 auto;
}
body .cont-82 {
  width: 82%;
  margin: 0 auto;
}
body .cont-83 {
  width: 83%;
  margin: 0 auto;
}
body .cont-84 {
  width: 84%;
  margin: 0 auto;
}
body .cont-85 {
  width: 85%;
  margin: 0 auto;
}
body .cont-86 {
  width: 86%;
  margin: 0 auto;
}
body .cont-87 {
  width: 87%;
  margin: 0 auto;
}
body .cont-88 {
  width: 88%;
  margin: 0 auto;
}
body .cont-89 {
  width: 89%;
  margin: 0 auto;
}
body .cont-90 {
  width: 90%;
  margin: 0 auto;
}
body .cont-91 {
  width: 91%;
  margin: 0 auto;
}
body .cont-92 {
  width: 92%;
  margin: 0 auto;
}
body .cont-93 {
  width: 93%;
  margin: 0 auto;
}
body .cont-94 {
  width: 94%;
  margin: 0 auto;
}
body .cont-95 {
  width: 95%;
  margin: 0 auto;
}
body .cont-96 {
  width: 96%;
  margin: 0 auto;
}
body .cont-97 {
  width: 97%;
  margin: 0 auto;
}
body .cont-98 {
  width: 98%;
  margin: 0 auto;
}
body .cont-99 {
  width: 99%;
  margin: 0 auto;
}
body .cont-100 {
  width: 100%;
  margin: 0 auto;
}
body .xs1 {
  flex-basis: 8.2916666667%;
}
body .xs2 {
  flex-basis: 16.5833333333%;
}
body .xs3 {
  flex-basis: 24.875%;
}
body .xs4 {
  flex-basis: 33.1666666667%;
}
body .xs5 {
  flex-basis: 41.4583333333%;
}
body .xs6 {
  flex-basis: 49.75%;
}
body .xs7 {
  flex-basis: 58.0416666667%;
}
body .xs8 {
  flex-basis: 66.3333333333%;
}
body .xs9 {
  flex-basis: 74.625%;
}
body .xs10 {
  flex-basis: 82.9166666667%;
}
body .xs11 {
  flex-basis: 91.2083333333%;
}
body .xs12 {
  flex-basis: 99.5%;
}
@media (min-width: 576px) {
  body .sm1 {
    flex-basis: 8.2916666667%;
  }
  body .sm2 {
    flex-basis: 16.5833333333%;
  }
  body .sm3 {
    flex-basis: 24.875%;
  }
  body .sm4 {
    flex-basis: 33.1666666667%;
  }
  body .sm5 {
    flex-basis: 41.4583333333%;
  }
  body .sm6 {
    flex-basis: 49.75%;
  }
  body .sm7 {
    flex-basis: 58.0416666667%;
  }
  body .sm8 {
    flex-basis: 66.3333333333%;
  }
  body .sm9 {
    flex-basis: 74.625%;
  }
  body .sm10 {
    flex-basis: 82.9166666667%;
  }
  body .sm11 {
    flex-basis: 91.2083333333%;
  }
  body .sm12 {
    flex-basis: 99.5%;
  }
}
@media (min-width: 768px) {
  body .md1 {
    flex-basis: 8.2916666667%;
  }
  body .md2 {
    flex-basis: 16.5833333333%;
  }
  body .md3 {
    flex-basis: 24.875%;
  }
  body .md4 {
    flex-basis: 33.1666666667%;
  }
  body .md5 {
    flex-basis: 41.4583333333%;
  }
  body .md6 {
    flex-basis: 49.75%;
  }
  body .md7 {
    flex-basis: 58.0416666667%;
  }
  body .md8 {
    flex-basis: 66.3333333333%;
  }
  body .md9 {
    flex-basis: 74.625%;
  }
  body .md10 {
    flex-basis: 82.9166666667%;
  }
  body .md11 {
    flex-basis: 91.2083333333%;
  }
  body .md12 {
    flex-basis: 99.5%;
  }
}
@media (min-width: 992px) {
  body .lg1 {
    flex-basis: 8.2916666667%;
  }
  body .lg2 {
    flex-basis: 16.5833333333%;
  }
  body .lg3 {
    flex-basis: 24.875%;
  }
  body .lg4 {
    flex-basis: 33.1666666667%;
  }
  body .lg5 {
    flex-basis: 41.4583333333%;
  }
  body .lg6 {
    flex-basis: 49.75%;
  }
  body .lg7 {
    flex-basis: 58.0416666667%;
  }
  body .lg8 {
    flex-basis: 66.3333333333%;
  }
  body .lg9 {
    flex-basis: 74.625%;
  }
  body .lg10 {
    flex-basis: 82.9166666667%;
  }
  body .lg11 {
    flex-basis: 91.2083333333%;
  }
  body .lg12 {
    flex-basis: 99.5%;
  }
}
@media (min-width: 1200px) {
  body .xl1 {
    flex-basis: 8.2916666667%;
  }
  body .xl2 {
    flex-basis: 16.5833333333%;
  }
  body .xl3 {
    flex-basis: 24.875%;
  }
  body .xl4 {
    flex-basis: 33.1666666667%;
  }
  body .xl5 {
    flex-basis: 41.4583333333%;
  }
  body .xl6 {
    flex-basis: 49.75%;
  }
  body .xl7 {
    flex-basis: 58.0416666667%;
  }
  body .xl8 {
    flex-basis: 66.3333333333%;
  }
  body .xl9 {
    flex-basis: 74.625%;
  }
  body .xl10 {
    flex-basis: 82.9166666667%;
  }
  body .xl11 {
    flex-basis: 91.2083333333%;
  }
  body .xl12 {
    flex-basis: 99.5%;
  }
}