@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
body {
  font-family: "Hind", sans-serif !important;
  font-size: 16px !important;
  font-weight: 100 !important;
  line-height: 2 !important;
  color: #171717 !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
}